.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Căn giữa theo chiều dọc */
}

.container {
  background-color: rgb(240, 214, 203);
  display: flex;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.product-title {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 20px;
  color: #28a745;
}

.product-description {
  margin: 20px 0;
  line-height: 1.6;
}

.product-details {
  margin-bottom: 20px;
}

.product-details p {
  margin: 5px 0;
}
